body {
  background-color: #252525;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  margin: 0 auto;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 0.5%;
}

button {
  margin: 0 auto;
  display: block;
}

#story-picker {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

#intro {
  position: relative;
}

#intro p {
  text-transform: uppercase;
  font-size: 30px;
}

#story-selection .story-content p {
  margin: 0;
  padding: 0;
  color: #291d2b;
}

#story-selection .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#story-selection .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(4px);
}

#story-selection .swiper-slide-active {
  filter: blur(0px);
}

#story-selection .story-content {
  position: relative;
  width: 80%;
  padding: 20px 40px 40px 20px;
}

#first-story {
  position: absolute;
  top: 220px;
  left: 100px;
  width: 140%;
  opacity: 1;
  pointer-events: none
}

#second-story {
  position: absolute;
  top: 200px;
  left: 80px;
  width: 100%;
  opacity: 1;
  pointer-events: none
}

#opening {
  font-family: Oswald, serif;
  font-size: 26px;
  text-align: center;
}

/**second swiper **/
#hm2 html,
#hm2 body {
  position: relative;
  height: 100%;
}

#hm2 body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #252525;
  margin: 0;
  padding: 0;
}

#hm2 body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #252525;
  margin: 0;
  padding: 0;
}

#hm2 html,
#hm2 body {
  position: relative;
  height: 100%;
}

#hm2 body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hm2 .swiper {
  width: 240px;
  height: 320px;
}

#hm2 .swiper-slide {
  display: flex;
  padding: 15px;
  align-items: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #252525;
  box-sizing: border-box;
}

#hm2 .swiper-slide:nth-child(1n) {
  background-color: #fff;
}

#hm2 .swiper-slide:nth-child(2n) {
  background-color: #fff;
}

#hm2 .swiper-slide:nth-child(3n) {
  background-color: #fff;
}

/** start button **/
#intro-btn {
  padding: 12px 50px;
  border: none;
  border-radius: 8px;
  background-color: #e63333;
  color: #fff;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", sans-serif;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-character {
  font-weight: 900;
  background-image: linear-gradient(
          -225deg,
          #e63333 0%,
          #e63333 29%,
          #fff 30%,
          #e63333 100%
  );
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  display: none;
}

mark.red {
  color: #e63333;
  background: none;
}

mark.red-highlight {
  color: #ffffff;
  background: #e63333;
}

.container {
  display: flex;
  flex-flow: wrap;
}

.container hr {
  width: 100%;
}

hr {
  flex-basis: 100%;
  height: 0;
  margin: 0;
  border: 0;
}

.fadeIn {
  opacity: 1;
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

.fadeOut {
  opacity: 1;
  animation: fadeOut 500ms linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.center-container {
  margin: 0 auto;
}

#choose-story-button {
  font-family: "PT Sans", sans-serif;
  color: #eeeeee;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.text-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  *, html, body, .row {
    padding-left: 6px  !important;
    padding-right: 6px  !important;
  }
}